---
layout: layouts/base.liquid
pagination:
    data: trips
    size: 1
    alias: trip
permalink: "trips/{{ trip.title | slugify }}/"
bodyClass: eve-background
---
{% render "site-header.liquid", logo: 'site-id-purple.svg', menu-link-color: 'purple-600', cta-color: 'purple-800' %}
<main class="wrapper">
    <div class="grid-container">
        <div class="grid-container__item-span-4">
            <h1 class="color-purple-900">{{ trip.titleOne }}<br>
                <span class="color-purple-700">{{ trip.titleTwo }}</span>
            </h1>
            <hr class="green-500-hr" />
            <p>
            {{ trip.description }}
            </p>
        </div>
        <div class="grid-container__item-span-4">
            {% capture imgUrl %}app/assets/img/{{ trip.img }}{% endcapture %}
            {% Image imgUrl, trip.alt, "rotate-143  image-rounded" %}
        </div>
    </div>
    <h2>Length</h2>
    <p>{{trip.nights}} nights</p>
    <h2>Distance</h2>
    <p>{{trip.miles}} miles</p>
    <h2>Price</h2>
    <p>From £{{trip.priceFrom}}</p>
    <div class="margin-spacing-a">
        <h2 class="color-green-900">
                    About this adventure</h2>
            <hr class="yellow-500-hr" />
        <p>{{ trip.about }}</p>
        <div class="grid-container">
            <div class="grid-container__item-span-4">
                <h2 class="color-green-900">
                    About this trip</h2>
            <hr class="yellow-500-hr" />
                <ul>
                {% for hl in trip.highlights %}
                    <li>{{ hl }}</li>
                {% endfor %}
                </ul>
            <a href="" target="_blank" class="cta cta--no-margin cta--orange cta--with-icon">
                <i class="icon-trip"></i>Book This Trip
            </a>
            </div>
            <div class="grid-container__item-span-4">
                {% capture imgUrl %}app/assets/img/{{ trip.map.img }}{% endcapture %}
                {% Image imgUrl, "Map of the route", "rotate-143  image-rounded" %}
            </div>
        </div>
    </div>
</main>

