<header class="wrapper">
    <a href="/">
        <img src="/assets/img/{{logo}}" class="no-border-radius" style="width: 200px; height: 90px;">
    </a>
    <div>
        <input id="menu-toggle" type="checkbox">
        <label class="menu-button-container purple-hamburger-circle" for="menu-toggle">
            <div class="menu-button"></div>
        </label>
        <ul class="menu">
            <li>
                <a href="/campervan-eve" class="color-{{menu-link-color}}">Meet Eve</a>
            </li>
            <li>
                <a href="/whats-the-real-range" class="color-{{menu-link-color}}">Real Range</a>
            </li>
            <li>
                <a href="/about" class="color-{{menu-link-color}}">About</a>
            </li>
            <li>
                <a href="/blog" class="color-{{menu-link-color}}">Blog</a>
            </li>
            <li>
                <a href="https://www.quirkycampers.com/uk/campervan/301977/?wb-currency=GBP&ref=wilddrives" target="_blank" class="color-{{cta-color}}">
                    <i class="icon-trip"></i>Book Your Trip </a>
            </li>
        </ul>
    </div>
</header>
