{% if van == "eve" or van == "buzz" %}
{% capture bookingElement %}<a class="booking-modal-options__option plausible-event-name=Modal+Van+{{ van | slugify }}+Click" href="/our-vans/{{ van | slugify }}/book">{% endcapture %}
{% assign closeBookingElement = "</a>" %}
{% else %}
{% capture bookingElement %}<button class="booking-modal-options__option plausible-event-name=Modal+Vans+Click" type="button" data-a11y-dialog-show="van-modal">{% endcapture %}
{% assign closeBookingElement = "</button>" %}
{% endif %}

{% if van == "eve" %}
{% assign vanImg = "app/assets/img/eve-01.jpg" %}
{% else %}
{% assign vanImg = "app/assets/img/LOV_26.jpg" %}
{% endif %}

  <!-- 1. The dialog container -->
<div
  data-a11y-dialog="{{prefix}}booking-modal"
  id="{{prefix}}booking-modal"
  aria-labelledby="{{prefix}}booking-modal-title-id"
  aria-hidden="true"
  class="dialog-container"
>
  <!-- 2. The dialog overlay -->
  <div class="dialog-overlay" data-a11y-dialog-hide></div>
  <!-- 3. The actual dialog -->
  <div class="dialog-content" role="document">
    <!-- 4. The close button -->
    <button class="dialog-close" type="button" data-a11y-dialog-hide aria-label="Close dialog">
      &times;
    </button>
    <!-- 5. The dialog title -->
    <h2 class="h3 color-purple-900 dialog__title" id="{{prefix}}booking-modal-title-id">Which <span class="color-purple-500">adventure</span> are you seeking?</h2>
    <ul class="list-reset margin-top-05 margin-top-1-desktop-only container-33-33-33 align-items-top booking-modal-options">
    <li>
    {{ bookingElement }}
    {% Image vanImg, "A campervan in the woods", "booking-modal-options__image", "lazy", "(min-width: 900px) 220px, 150px" %}
    <div class="h5 margin-top-05">Just the van</div>
    {{ closeBookingElement }}
    </li>
    <li><a class="booking-modal-options__option plausible-event-name=Modal+Trips+Click" href="/trips">
    {% Image "app/assets/img/anna-23.jpg", "Inside the van at sunrise, with a kettle", "booking-modal-options__image", "lazy", "(min-width: 900px) 220px, 150px" %}
    <div class="h5 margin-top-05">Pre-planned trip</div>
    </a></li>
    <li><a class="booking-modal-options__option plausible-event-name=Modal+Route+Planning+Click" target="_blank" href="https://kp2o4rlm9fh.typeform.com/to/hQRwTBdi">
    {% Image "app/assets/img/route-planning.jpg", "A group planning a road trip", "booking-modal-options__image", "lazy", "(min-width: 900px) 220px, 150px" %}
    <div class="h5 margin-top-05">Design a bespoke aventure</div>
    </a></li>
    </ul>
    {% include 'van-modal' %}
  </div>
</div>
