<header class="wrapper site-header">
    <a class="site-header__logo" href="/">
        <img src="/assets/img/{{logo}}" alt="Wild Drives logo" class="no-border-radius" style="width: 200px; height: 90px;">
    </a>
    <div class="site-header__menu">
        <input id="menu-toggle" type="checkbox">
        <label class="menu-button-container purple-hamburger-circle" for="menu-toggle">
            <div class="menu-button"></div>
        </label>
        <ul class="menu">
            <li>
                <a href="/#electric-campervans" class="menu__link color-{{menu-link-color}}">Campervans</a>
            </li>
            <li>
                <a href="/about" class="menu__link color-{{menu-link-color}}">About</a>
            </li>
            <li>
                <a href="/blog" class="menu__link color-{{menu-link-color}}">Blog</a>
            </li>
            <li>
                <a href="/contact" class="menu__link color-{{menu-link-color}}">Contact</a>
            </li>
            <li>
                <a type="button" href="https://checkout.wheelbasepro.com/reserve?owner_id=2796074" class="menu__link color-{{cta-color}}" target="_blank">
                    <i class="icon-trip"></i>Book now</a>
            </li>
        </ul>
    </div>
</header>
