<footer>
    <h2 class="color-purple-900">Not sure what you want?<br>
        <span class="color-purple-600 headline-bold">Get in touch</span>
    </h2>
    <hr class="hr hr--yellow-500 hr">
    <p>We'll help you plan a trip that perfectly suits you. Sustainable, scenic, and unforgettable</p>
    <button type="button" data-a11y-dialog-show="booking-modal" class="cta cta--with-icon">
        <i class="icon-trip"></i>Make an enquiry</button>
    <span class="legal color-yellow-50">&copy; 2023 Wild Drives Ltd 
                <a href="/our-vans" class="color-{{menu-link-color}}">Vans</a>
                <a href="/trips" class="color-{{menu-link-color}}">Trips</a>
                <a href="/about" class="color-{{menu-link-color}}">About</a>
                <a href="/blog" class="color-{{menu-link-color}}">Blog</a>
                <a href="/terms-conditions" class="color-{{menu-link-color}}">Terms & conditions</a>
    </span>
</footer>
