---
img: buzz-02.jpeg
type: website
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% unless title %}
            {% capture title %}
                {{ titleOne }} {{ titleTwo }}
            {% endcapture %}
        {% endunless %}

        <title>{{ title }} - Wild Drives</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="title" content="{{ title }}">
        <meta name="description" content="{{ description | strip_html }}">
        <meta name="keywords" content="campervan hire electric vehicle brighton sustainable travel">
        <meta name="robots" content="index, follow">
        <meta name="language" content="English">
        <meta name="revisit-after" content="1 days">
        <meta name="author" content="Wild Drives">
        <meta name="theme-color" content="rgb(255, 221, 0)">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="{{ title }}" />
        <meta property="og:url" content="{{ site.url }}{{ page.url | url }}" />
        <meta property="og:description" content="{{ description | strip_html }}" />
        <meta property="og:image" content="{{ site.url }}/assets/img/{{ img }}" />
        <meta property="og:type" content="{{ type }}" />

        <link rel="stylesheet" href="/assets/stylesheets/style.css">
        <script defer src="/assets/js/jquery.js"></script>
        <script defer src="/assets/js/lite-yt-embed.js"></script>
        <script defer src="/assets/js/collapsible.js"></script>

        <link rel="manifest" href="/json/manifest.webmanifest">
        <link rel="icon" href="/favicon.ico" sizes="any">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y6D6NPR50K"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-Y6D6NPR50K');
        </script>
    </head>
    {% if bodyClass %}
    <body class="{{ bodyClass }}">
    {% else %}
    <body>
    {% endif %}
	
        {{ content }}
        
        {% render 'site-footer.liquid' %}
	</body>
</html>
