---
img: buzz-02.jpeg
type: website
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% unless title %}
            {% capture title %}
                {{ titleOne }} {{ titleTwo }} {{ titleThree }} 
            {% endcapture %}
        {% endunless %}

        <title>{{ title }} - Wild Drives</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="title" content="{{ title }}">
        <meta name="description" content="{{ description | strip_html }}">
        <meta name="keywords" content="campervan hire electric vehicle brighton sustainable travel">
        <meta name="robots" content="index, follow">
        <meta name="language" content="English">
        <meta name="revisit-after" content="1 days">
        <meta name="author" content="Wild Drives">
        <meta name="theme-color" content="rgb(255, 221, 0)">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="{{ title }}" />
        <meta property="og:url" content="{{ site.url }}{{ page.url | url }}" />
        <meta property="og:description" content="{{ description | strip_html }}" />
        <meta property="og:image" content="{{ site.url }}/assets/img/{{ img }}" />
        <meta property="og:type" content="{{ type }}" />

        <link rel="stylesheet" href="/assets/stylesheets/style.css">
        <script defer src="/assets/js/jquery.js"></script>
        <script defer src="/assets/js/lite-yt-embed.js"></script>
        <script defer src="/assets/js/collapsible.js"></script>

        <link rel="manifest" href="/json/manifest.webmanifest">
        <link rel="icon" href="/favicon.ico" sizes="any">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y6D6NPR50K"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Y6D6NPR50K');
        </script>

        <script defer data-domain="wilddrives.co.uk" src="https://plausible.io/js/script.tagged-events.js"></script>

        <!-- Meta Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '906196640461910');
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=906196640461910&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Meta Pixel Code -->

        <!-- Hotjar Tracking Code for https://www.wilddrives.co.uk -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:3560222,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>

    </head>
    {% if bodyClass %}
    <body class="{{ bodyClass }}">
    {% else %}
    <body>
    {% endif %}
	
        {{ content }}
        
        {% render 'site-footer.liquid' %}

        <!-- Start of HubSpot Embed Code -->
            <script type="text/javascript" id="hs-script-loader" async defer src="https://js-eu1.hs-scripts.com/139575796.js"></script>
        <!-- End of HubSpot Embed Code -->
	</body>
</html>
