---
layout: layouts/base.liquid
img: 'wild-drives-4.jpg'
alt: 'Wild Drives founder Lewis hanging out and smiling in the van'
---
{% render "site-header.liquid", logo: 'site-id-purple.svg', menu-link-color: 'purple-600', cta-color: 'purple-800' %}
<main class="wrapper">
    <div class="container">
        <div class="text-align-right">
            <h1 class="color-purple-900 hero-text">{{ titleOne }} <br>
                <span class="color-purple-700">{{ titleTwo }}</span>
            </h1>
            <hr class="green-500-hr-right">
            <p>{{ description }}</p>
        </div>
        <div>
            {% capture imgUrl %}app/assets/img/{{ img }}{% endcapture %}
            {% Image imgUrl, alt, "rotate-143  image-rounded" %}
        </div>
    </div>

    {{ content }}
    
    {% render "newsletter.liquid" %}
    {% render "follow-journey.liquid" %}
</main>
